extends layout

block content 
    link(rel="stylesheet", href="style.css")
    body
        h1 lol
        h3 There are #{playerCnt} players in total
        h3 There are #{playerInLobbyCnt} players in the lobby